---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="Ryel's Blog">
  <header>
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>
  </header>

  <content>
    <Content />
  </content>

  <footer>
    <ul class="tags">
      {post.data.tags?.map((tag) => <li>{tag}</li>)}
    </ul>
    <p>
      <a href="/blog">&larr; back to all posts</a>
    </p>
  </footer>
</Layout>
