---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ryel's Portfolio & Blog">
  <h1 class="text-3xl font-bold">Ryel Banfield</h1>
  <h2 class="font-semibold">
    Full Stack Developer, Entrepreneur, and Digital Nomad
  </h2>
</Layout>
