---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ryel's Portfolio & Blog">
  <main class="flex min-h-screen justify-center items-center">
    <h1 class="text-4xl font-bold">Ryel Banfield</h1>
  </main>
</Layout>
