---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

import CodingImage from "../images/Coding.webp";
import F1Image from "../images/Formula-1.webp";
import GamingImage from "../images/Video-Games.webp";
import TravelImage from "../images/Travel.webp";

const tools = [
  {
    category: "Languages",
    software: [{ name: "TypeScript", href: "https://www.typescriptlang.org" }],
  },
  {
    category: "Frameworks",
    software: [
      { name: "Astro", href: "https://astro.build" },
      { name: "Next.js", href: "https://nextjs.org" },
      { name: "React Native", href: "https://expo.dev/" },
    ],
  },
  {
    category: "CSS Frameworks",
    software: [{ name: "TailwindCSS", href: "https://tailwindcss.com" }],
  },
  {
    category: "Software Tools",
    software: [
      { name: "VSCode", href: "https://code.visualstudio.com" },
      { name: "GitHub", href: "https://github.com" },
    ],
  },
];

const hobbies = [
  { name: "Coding", image: CodingImage },
  { name: "Formula 1", image: F1Image },
  { name: "Video Games", image: GamingImage },
  { name: "Travel", image: TravelImage },
];
---

<Layout title="Ryel's Portfolio & Blog">
  <div class="grid grid-cols-1 gap-6">
    <Section>
      <h1 class="text-2xl font-extrabold text-neutral-400">Ryel Banfield</h1>

      <p>TypeScript Developer & Chess Player.</p>

      <div class="mt-3 flex gap-3">
        <a
          href="mailto: ryelbanfield@gmail.com"
          class="bg-neutral-900 text-center hover:bg-neutral-800 cursor-pointer text-neutral-400 p-2 w-32 rounded"
          >Contact</a
        >
        <a
          href="https://www.chess.com/member/ryel369"
          target="_blank"
          class="bg-neutral-900 text-center cursor-pointer hover:bg-neutral-800 text-neutral-400 p-2 w-32 rounded"
          >Challenge</a
        >
      </div>
    </Section>

    <Section>
      <h2 class="text-neutral-400 text-xl font-semibold mb-3">About</h2>

      <p>
        Experienced Full Stack Developer and Code Wizard, building cool things
        online. I solve real-world problems with grandmaster-like precision.
        While my chess skills are questionable, my software development skills
        are unmatched. Let's team up to create awe-inspiring digital wonders.
      </p>
    </Section>

    <Section>
      <h2 class="mb-3 text-xl font-semibold text-neutral-400">Tools</h2>

      <div class="grid grid-cols-2 gap-6">
        {
          tools.map((tool) => (
            <div>
              <h3 class="text-lg font-medium uppercase text-neutral-400">
                {tool.category}
              </h3>
              <ul class="flex flex-col gap-2">
                {tool.software.map((software) => (
                  <li class="underline hover:text-neutral-400">
                    <a href={software.href} target="_blank" class="text-lg">
                      {software.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </Section>

    <Section>
      <h2 class="mb-3 text-xl font-semibold text-neutral-400">Hobbies</h2>

      <div class="grid grid-cols-2 gap-6">
        {
          hobbies.map((hobby) => (
            <div>
              <h3 class="text-lg font-medium uppercase">{hobby.name}</h3>

              <Image
                src={hobby.image as unknown as string}
                alt=""
                width={600}
                height={370}
                quality={20}
                class="mt-3 rounded"
              />
            </div>
          ))
        }
      </div>
    </Section>
  </div>
</Layout>
