---
const pathname = new URL(Astro.request.url).pathname;

const pages = [
  { name: "Home", route: "/", active: pathname === "/" },
  {
    name: "Portfolio",
    route: "/portfolio",
    active: pathname.includes("/portfolio"),
  },
  { name: "Blog", route: "/blog", active: pathname.includes("/blog") },
];
---

<nav class="flex gap-3">
  {
    pages.map((page) => (
      <a
        href={page.route}
        class={`text-xl font-semibold ${
          page.active &&
          "bg-gradient-to-b from-red-900 to-red-600 bg-clip-text text-transparent"
        }`}
      >
        {page.name}
      </a>
    ))
  }
</nav>
